<%= simple_form_for([@team.organization,@team]) do |form| %>

			<div class="input1">
          <%= form.input :team_name%>
         <span class="spin"></span><br>
     </div>


      <div class="button">
         <button><span>NEXT</span></button>
      </div>
      </div>
<% end %>