<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="materialContainer">
    <div class="box" style="background-color: #78c2ad">
    	<h1>Editing Team</h1>

<%= render 'form', team: @team %>
</div>
</div>

</body>
</html>

