<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <%= javascript_include_tag 'application' %>
</head>
<body>
<h1>Editing Learningstyle</h1>
<div class="container">
</div>
<div class="row" id="forme">
<%= render @learningstyle %>
</div>
</div>

</body>
</html>

