
<%= simple_form_for([@teaminvite.team, @teaminvite]) do |f| %>

  <div class="input1">
    <%= f.input :email, :label => 'Email' %>
  </div>

  <div class="button">
    <button><span>NEXT</span></button
  </div>
<% end %>