

<h1 class="text-center">Team members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @teaminvites.each do |teaminvite| %>
      <tr>
        <td><%= teaminvite.name %></td>
        <td><%= teaminvite.email %></td>
        <td><%= link_to 'Remove from team', [teaminvite.team,teaminvite], method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

